name: Brew & NixPKG Release

on:
  push:
    tags:
      - 'v*'

jobs:
  homebrew-releaser:
    runs-on: ubuntu-latest
    name: homebrew-releaser
    steps:
      - name: Release my project to my Homebrew tap
        uses: Justintime50/homebrew-releaser@v3
        with:
          homebrew_owner: shini4i
          homebrew_tap: homebrew-tap
          formula_folder: Formula
          github_token: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}

          commit_owner: github-actions[bot]
          commit_email: github-actions[bot]@users.noreply.github.com

          update_readme_table: true

          depends_on: |
            "kubernetes-cli"
            "yq"

          install: 'bin.install "src/kd.sh" => "kd"'

  update-nixpkgs:
    runs-on: ubuntu-latest
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Update nixpkgs
        uses: shini4i/nixpkgs-updater@v1
        with:
          package-name: kd
          version: ${{ github.ref_name }}
          target-repo: shini4i/nixpkgs
          github-token: ${{ secrets.NIXPKGS_TOKEN }}
